@import 'storefrontstyles/scss/core';

@mixin visible-focus {
  outline-style: solid;
  outline-color: var(--cx-color-visual-focus);
  outline-width: var(--cx-visual-focus-width, 2px);
  outline-offset: 4px;
  transition: none;
}

@import './administration/index';
@import './order-approval/index';
@import './user-registration/index';
@import './account-summary/index';
@import './unit-order/index';
