@import 'storefrontstyles/scss/core';
@import 'checkout';

@import './base/styles/index';
@import './checkout/styles/index';
@import './cta/styles/index';
@import './payment/styles/index';
@import './quick-buy/styles/index';

$opf-components-allowlist: cx-opf-payment-method-details,
  cx-opf-checkout-payment-and-review, cx-opf-checkout-payments,
  cx-opf-checkout-billing-address-form, cx-opf-checkout-payment-wrapper,
  cx-opf-checkout-terms-and-conditions-alert, cx-opf-error-modal,
  cx-opf-cta-element, cx-opf-google-pay, cx-opf-apple-pay,
  cx-opf-quick-buy-buttons !default;

$skipComponentStyles: () !default;

@each $selector in $opf-components-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $opf-components-allowlist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
