@import 'storefrontstyles/scss/core';

@import './_asm-bind-cart-dialog.component';
@import './_asm-save-cart-dialog.component';
@import './_asm-switch-customer-dialog.component';
@import './_asm-main-ui.component';
@import './_asm-session-timer.component';
@import './_asm-toggle-ui.component';
@import './_csagent-login-form.component';
@import './_customer-emulation.component';
@import './_customer-selection.component';
@import './_customer-list.component';
@import './_asm-bind-cart.component';
@import './_dot-spinner.component';
@import './_asm-create-customer-form.component';

$asm-components-allowlist: cx-asm-main-ui, cx-asm-session-timer,
  cx-asm-bind-cart, cx-asm-bind-cart-dialog, cx-asm-save-cart-dialog,
  cx-asm-switch-customer-dialog, cx-asm-toggle-ui, cx-csagent-login-form,
  cx-customer-emulation, cx-customer-selection, cx-dot-spinner, cx-customer-list,
  cx-asm-toggle-ui, cx-csagent-login-form, cx-customer-emulation,
  cx-customer-selection, cx-dot-spinner, cx-customer-list,
  cx-asm-create-customer-form !default;

$skipComponentStyles: () !default;

@each $selector in $asm-components-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $asm-components-allowlist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
