@import 'storefrontstyles/scss/cxbase/blocks/modal';

%cx-opf-error-modal {
  .cx-opf-error-modal {
    .cx-opf-error-modal-container {
      .cx-opf-error-modal-header {
        display: flex;
        justify-content: space-between;
        .cx-opf-error-modal-title {
          @include type('3');
        }
      }

      .cx-confirmation {
        margin-bottom: 0px;
      }

      .cx-opf-error-modal-footer {
        display: flex;

        button {
          flex: 0 0 100%;
          text-transform: lowercase;

          &:first-line {
            text-transform: capitalize;
          }

          &:focus {
            @include visible-focus();
          }
        }
      }
    }
  }
}
